input
{
    border: none;
    color: black;
    background: rgb(209, 209, 209);
    height: 100%;
    font-family: "century Gothic";
    justify-content: space-between;
}

input:hover{
    background: #232323;
    color: white;
}

input:focus{
    outline: none;
}

button {
    border: 3px solid black;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Google Sans";
    color: white;
    font-weight: normal;
    margin: 9px;
    margin-bottom: 9px;
    background-color: grey;

}

button:focus {
    outline: none;
}

body {
    margin: 0px;
    background-color: #232323;
}

#head {
    height: 1000px;
    padding-top: 50px;
}

nav {
    background-color: white;
    height: 35px;
    border-bottom: .5px solid #232323;
}


h1 {
    text-transform: uppercase;
    height: 100px;
    margin-bottom: 0px;
    padding-top: 25px;
    background-color: #232323;
    font-family: "Century Gothic";
    font-weight: normal;
    color: white;

}

.container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

li{
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    padding-top: 3px;
    
}

@media (max-width: 392px) {
    button {
        border: none;
        height: 90px;
        width: 90px;
        border-radius: 30px;
        cursor: pointer;
        font-family: "Google Sans";
        color: white;
        font-weight: normal;
        margin: 9px;
        margin-bottom: 9px;
        background-color: grey;

    }
}

@media (max-width: 362px) {
    button {
        border: none;
        height: 88px;
        width: 88px;
        border-radius: 30px;
        cursor: pointer;
        font-family: "Google Sans";
        color: white;
        font-weight: normal;
        margin: 9px;
        margin-bottom: 9px;
        background-color: grey;

    }
}

@media (max-width: 326px) {
    button {
        border: none;
        height: 80px;
        width: 80px;
        border-radius: 30px;
        cursor: pointer;
        font-family: "Google Sans";
        color: white;
        font-weight: normal;
        margin: 9px;
        margin-bottom: 9px;
        background-color: grey;

    }
}